header {
        text-transform: uppercase;
}

@media only screen and (min-width: 769px) {
        .container-fluid {
                padding-left: 3rem !important;
                padding-right: 3rem !important;
        }
        
}

li {
        margin: 0 1rem;
}
